/* Create Form */

	#create-form {
		display: -moz-inline;
		display: -webkit-inline;
		display: -ms-inline;
		display: inline;
		position: relative;
	}

		#create-form input[type="text"],
		#create-form input[type="password"],
		#create-form input[type="email"] {
		}

		#create-form > * {
			margin: auto;
    	width: 500px;
    	padding: 10px;
		}

		#create-form input[type="submit"], input[type="button"] {
			margin: auto;
			display: block;
			width: 200px;
		}

		}
