/* Signin Form */

	#signin-form {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		position: relative;
	}

		#signin-form input[type="text"],
		#signin-form input[type="password"],
		#signin-form input[type="email"] {
			width: 18em;
		}

		#signin-form > * {
			margin: 0 0 0 1em;
		}

		#signin-form > :first-child {
			margin: 0 0 0 0;
		}

		@media screen and (max-width: 480px) {

			#signin-form {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				#signin-form input[type="type"],
				#signin-form input[type="password"],
				#signin-form input[type="email"] {
					width: 100%;
				}

				#signin-form > * {
					margin: 1.25em 0 0 0;
				}

				#signin-form .message {
					bottom: -1.5em;
					font-size: 0.9em;
					height: 1em;
					left: 0;
					line-height: inherit;
					margin-top: 0;
					position: absolute;
				}

		}
